@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bakery</h1>
    <img src="~/Images/bakeryshop.jpg" class="w-100 m-1" />
    <a class="btn btn-primary" asp-area="" asp-page="/CustomOrder">Create your Custom Order</a>
</div>
